body, html {
    height: 100%;
    margin: 0;
    background-color: #F5F5F5;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
}

header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A2C523;
    height: 50px;
}

header nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: unset;
    font-size: 18px;
    position: relative;
    right: 100px;
}

header nav a:hover {
    color: #111;
}

#header-web-title a {
    color: white;
    font-size: 30px;
    text-decoration: unset;
    padding: 6px 16px;
    position: relative;
    left: 100px;
}

#header-logo {
    width: 25px;
    padding: 0px 10px;
}


#search-container input {
    width: 500px;
    height: 35px;
    padding: 6px;
    border: none;
    margin-top: 50px;
    font-size: 17px;
    float: left;
}

#search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 50px;
    background: #ddd;
    font-size: 17px;
    border: none;
    width: 47px;
    height: 47px;
}

#search-container button:hover {
    background: #A2C523;
}

#hero {
    height: 11%;
    background:#cccccc;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

#category-menu {
    height: 0;
    width: 149px;
    position: fixed;
    top: 111px;
    left: 180px;
    background-color: #333333;
    overflow: hidden;
    transition: 0.5s;
}

#category-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#category-menu a:hover {
    color: #A2C523;
}

#category-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#hero span:hover{
    color: #A2C523;
    background:#666666;
}
#hero span {
    display: inline-block;
    padding: 16px 16px;
}
#category-btn {
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    left: 180px;
    color: black;
    margin-top:25px;
}

.full-width-wrapper, main {
    width: 1400px;
    margin: 0 auto;
    align-items: center;
    position:absolute;
    right:150px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    text-align: left;
    width: 280px;
    min-height: 100px;
    padding: 10px;
    margin: 5px;
}

.card > img {
    height: 100px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4a4a4a;
}

.card > p {
    text-align: justify;
}

.card > a {
    width: 100%;
    background-color: #453328;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: 1s;
    border: 1px solid rgb(60, 64, 60);
}

.card > a:hover {
    background-color: rgba(204, 208, 204, 0.91);
    color: #333333;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    background-color: #333333;
    color: #f2f2f2;
    font-size: 14px;
    padding-left: 100px;
    padding-bottom: 10px;
    width: 100%;
}

.button {
    text-align: center;
    display: block;
    width: 120px;
    padding: 10px 15px;
    border: 1px solid #4a4a4a;
    background-color: #4a4a4a;
    color: white;
    transition: 1s;
    margin: 10px;
}

.action-button {
    width: 20px;
    text-align: center;
    display: block;
    padding: 5px;
    border: 1px solid #4a4a4a;
    background-color: #4a4a4a;
    color: white;
    transition: 1s;
    margin: 5px;
}

.action-button:hover, .button:hover {
    background-color: white;
    color: black;
}

#login-screen {
    width: 300px;
    margin: auto;
}

.centered-600px {
    width: 600px;
    margin: auto;
}

.article-text {
    padding: 20px;
    margin-top: 20px;
    background-color: #c6c6c6;
    color: white;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: block;
    clear: both;
}