body, html {
    height: 100%;
    margin: 0;
    background-color: #F5F5F5;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
}

header {
    top: 0;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A2C523;
    height: 50px;
}

header nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: unset;
    font-size: 18px;
    position: relative;
    right: 100px;
}

header nav a:hover {
    color: #111;
}

#header-web-title a {
    color: white;
    font-size: 30px;
    text-decoration: unset;
    padding: 6px 16px;
    position: relative;
    left: 100px;
}

#header-logo {
    width: 25px;
    padding: 0px 10px;
}


#search-container input[type=search] {
    width: 500px;
    height: 33px;
    padding: 6px;
    border: none;
    font-size: 15px;
}

#search-container button {
    float: right;
    padding: 6px 10px;
    background: #F5F5F5;
    font-size: 17px;
    border: none;
    width: 35px;
    height: 33px;
}

#search-container button:hover {
    background: #F49268;
}

#hero {
    height: 50px;
    background: #edf0db;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#hero span:hover {
    color: #F49268;
}

#hero span {
    transition: 0.5s;
    display: inline-block;
    padding: 16px 16px;
}

#hero a {
    font-size: 16px;
    text-decoration: unset;
    position: relative;
    color: black;
    right: 150px;
}

#hero a:hover {
    color: #F49268;
}

#category-menu {
    height: 0;
    width: 149px;
    position: fixed;
    top: 111px;
    left: 180px;
    background-color: #333333;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}

#category-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#category-menu a:hover {
    color: #A2C523;
}

#category-btn {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    color: black;
    left: 150px;
    text-align: center;
}

label {
    padding: 15px 0;
}

input[type=email], input[type=tel], input[type=text], input[type=password] {
    width: 65%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-flex;
    border: none;
    background: white;
}

input[type=tel]:focus, input[type=email]:focus, input[type=text]:focus, input[type=password]:focus {
    background-color: #F2FEDC;
    outline: none;
}

input[type=submit] {
    background-color: #F49268;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

div select {
    width: 69.5%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-flex;
    border: none;
    background: white;
}

#form-contents {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#form-container {
    display: block;
    width: 45%;
}

#form-line {
    display: flex;
    justify-content: space-between;
}

#form-line-blank {
    padding: 15px;
    margin: 5px 70px 22px 20px;
    display: inline-flex;
}

.full-width-wrapper, main {
    width: 1400px;
    margin: 0 auto;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    text-align: left;
    width: 280px;
    min-height: 100px;
    padding: 10px;
    margin: 5px;
}

.card > img {
    height: 100px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4a4a4a;
}

.card > p {
    text-align: justify;
}

.card > a {
    width: 100%;
    background-color: #453328;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: 1s;
    border: 1px solid rgb(60, 64, 60);
}

.card > a:hover {
    background-color: rgba(204, 208, 204, 0.91);
    color: #333333;
}

#cart-section {
    position: relative;
    justify-content: center;
    text-align: center;
    right: 125px;
    top: 50px;
}

#big-cart-img {
    font-size: 250px;
    color: #cccccc;
    position: relative;
    right: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    background-color: #333333;
    color: #f2f2f2;
    font-size: 14px;
    padding-left: 100px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 2;
}

.button {
    text-align: center;
    width: 180px;
    padding: 14px 16px;
    background-color: #A2C523;
    color: white;
    transition: 0.5s;
    text-decoration: unset;
    font-size: 18px;
    position: relative;
    top: 50px;
}

.action-button {
    width: 20px;
    text-align: center;
    display: block;
    padding: 5px;
    border: 1px solid #4a4a4a;
    background-color: #4a4a4a;
    color: white;
    transition: 1s;
    margin: 5px;
}

.action-button:hover, .button:hover {
    background-color: #666666;
    color: #A2C523;
}

#login-screen {
    width: 300px;
    margin: auto;
}

.centered-600px {
    width: 600px;
    margin: auto;
}

.centered-80 {
    width: 90%;
    margin: auto;
}

.centered-50 {
    width: 50%;
    margin: auto;
}

.article-text {
    padding: 20px;
    margin-top: 20px;
    background-color: #c6c6c6;
    color: white;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: block;
    clear: both;
}

p a {
    color: #F49268;
    text-decoration: unset;
}

.color-red {
    color: #FF4652;
}

.color-orange {
    display: inline;
    color: #F49268;
}